<div class="container">
    <button routerLink='new-chat' class="btn blue-grey lighten-1 newChat-btn">Start New Chat</button>
  <div *ngFor='let chat of chats | reverse'>
    <div *ngIf='!chat.isArchived'>
      <div *ngIf='!checkMember(chat.userArray)'> </div>
      <mz-card class='blue-grey darken-1 white-text'>
        <mz-card-title>
          <h4 class="chatTitle">{{chat.name}}</h4>
        </mz-card-title>
        <mz-card-content>
          <div class="row">
            <div class="col m6">
              <h5 class="userListTitle">Chat Members:</h5>
              <div *ngFor='let user of chat.userArray'>
                <p class="userList">{{user}}</p>
              </div>
            </div>
            <div class="col m6">
              <button (click)="reply(chat)" class="btn blue-grey lighten-1 reply-btn">Reply</button>
              <button (click)='archiveChat(chat)' class="btn red-grey lighten-1 archive-btn">Archive</button>
            </div>
          </div>
        </mz-card-content>
      </mz-card>
    </div>
  </div>