<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6 l6">
        <a mz-button id="btn-dropdown-basic" class="btn blue-grey lighten-1" href="javascript:void(0)">Users</a>
        <mz-dropdown [id]="'dropdown'" [dropdownButtonId]="'btn-dropdown-basic'">
          <div *ngFor="let user of users">
            <li (click)='startChat(user)'>{{user.displayName}}</li>
          </div>
        </mz-dropdown>
      </div>
    </div>
  </div>
  <div *ngFor='let chat of chats | async'>
    <h1 id="title">{{chat.name}}</h1>
    <h4 id="title">{{chat.messageArray[0].body}}</h4>
    <div *ngFor='let user of chat.userArray'> 
      <h5 id="title">{{user}}</h5>
    </div>
    <button (click)="reply(chat)" class="btn blue-grey lighten-1">Reply</button>
  </div>
</div>

  