<div class="section">

  <h5 class="light">Create New Account</h5>

  <div class="row m-valign-wrapper">

    <mz-input-container class="col s12 m6">
      <input mz-input
        [label]="'Label'"
        id="basic-input-placeholder"
        placeholder="Placeholder"
        type="text">
    </mz-input-container>

    <p class="col s12 m6">
      Label and placeholder can be combined using both <code class="language-markup">label</code> and <code class="language-markup">placeholder</code> properties.
    </p>
  </div>
