<nav class="nav-extended black">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="navLink" routerLink="/">Home</a></li>
        <li class="tab"><a class="navLink" routerLink="/posts">Forum</a></li>
        <li class="tab"><a class="navLink" routerLink="/createUser">Create Account</a></li>
        <li class="tab"><a class="navLink" routerLink="/chat">Chat</a></li>

        <div *ngIf="LoggedOut">
            <li class="tab">
              <a class="navLinkLog" (click)="login()">Login</a>
            </li>
          </div>
          <div *ngIf="LoggedIn">
              <li class="tab logout">
                  <a id="logout" (click)="logout()">Logout</a>
              </li>
              <li class="tab"> <a id="admin" routerLink="/admin">Admin</a>
              </li>
              </div>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
<a class="btn-floating btn-large black" id="btn-sidenav-demo">Menu</a>

<mz-sidenav #sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'"
  [edge]="'right'">

  <mz-sidenav-header>
    <div class="user-view">
      <img class="circle avatar" src="assets/sidenav-demo-avatar.png">
      <div class="black-text name">User Name</div>
      <div class="black-text email">userEmail@email.com</div>
    </div>
  </mz-sidenav-header>

  <mz-sidenav-subheader>Links</mz-sidenav-subheader>

  <mz-sidenav-link>
    <a>First Link</a>
  </mz-sidenav-link>

  <mz-sidenav-link [active]="true">
    <a>Active Link</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a class="waves-effect">Second Link With Waves</a>
  </mz-sidenav-link>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a><i mz-icon-mdi [icon]="'cloud'"></i>Third Link With Icon</a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a mz-icon-mdi [icon]="'earth'">Fourth Link With Icon</a>
  </mz-sidenav-link>

  <mz-sidenav-divider></mz-sidenav-divider>
