<div class="container">
  <h1>Forum</h1>
  <app-add-post></app-add-post>
  <br>
  <br>
  <div class="row">
    <div class="z-depth-4 col s12 md6">
      <div *ngFor="let post of posts | async" class="card">
        <div class="card-content blue-grey white-text">
          <span class="card-title">Title: {{post.title}}</span>
        </div>
        <div class="card-content white-text blue-grey darken-2">
          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="col s12 m6">
                  <div >




                        <div class="card-body bg-light">
                  <br>
                          <h2>username: <strong>{{post.owner}}</strong></h2>
                  <br>
                          <h2>Summary: <strong>{{post.body}}</strong></h2>
                  <br>
                          <app-remove-post [postKey]="post"></app-remove-post>
                          <br>
                          <br>
                          <button type="button" class="btn btn-success" name="button" (click)="details(post)">More Details</button>
                        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



        </div>
      </div>
    </div>
  </div>
