<div class="container">
  <div class="card-content blue-grey white-text">
    <h2 id="title">Forum</h2>
  </div>
</div>
<app-add-post></app-add-post>
<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="z-depth-4 col s12 md6">
      <div *ngFor="let post of posts | async" class="card">
        <div class="card-content blue-grey white-text">
          <span class="card-title">
              <h2>Title: {{post .title}}</h2>
          </span>
        </div>
        <div class="card-content white-text blue-grey darken-2">
          <div class="row">
              <div class="row">
                <div>
                  <div class="card-body bg-light">
              <br>
                  <h4>Username: <strong>{{post.owner}}</strong></h4>
              <br>
              <br>
              <br>
                  <button type="button" class="btn btn-success" name="button" (click)="details(post)">Comments</button>
                  <app-remove-post [postKey]="post"></app-remove-post>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
