 <div class="container">
  <div class="row">
    <div class="z-depth-4 col s12 md6">
      <div class="card-content z-depth-4 blue-grey white-text">
        <h1 class="main-text"> Welcome to the study app! </h1>
      </div>
      <div class="card-content white-text blue-grey darken-2">
        <div class="row">
          <h3 class="main-text"> This application is designed to help users create a space where knowledge thrives and ideas can be shared openly.</h3>
          <h3 class="main-text"> This site currently offers the following features:</h3>
          <ul>
            <li> A message board with comment features </li>
            <li> A chat section to foster effective collaboration </li>
            <li> A blog feature to keep up on the latest happenings </li>
            <li> ...and more features are on the way! </li>
          </ul>
        </div>
        <div class="main-text">
          <h4>Let's get started! Please log in to begin using the application.</h4>
        </div>
      </div>
    </div>
  </div>
</div>