<div class="container">
  <div class="row">
    <div class="z-depth-4 col s12 md6">
      <div class="card-content blue-grey white-text">
      </div>
      <div class="card-content white-text blue-grey darken-2">
        <div class="col-md-7">
          <h6>Username: {{postDetail?.owner}} </h6>
        </div>
          <br>
          <br>
        <div class="container">
          <h5>"{{postDetail?.body}}"</h5>
        </div>
      	<div class="container">
        <form>
        <label for="com">Comment: </label>
          <input type="text" name="com" #com>
            <button type="button" class="btn btn-info" name="Add Comment"(click)="addComment(com.value); com.value = '';">Comment</button>
        </form>
        </div>
          <div class="container">
            <div *ngFor="let comment of postDetail?.comments">
                <h5>{{comment.com}}</h5>
          </div>
        </div>
